.examples {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.examples h1 {
  text-align: center;
}
.examples .example {
  margin-bottom: 32px;
}
.examples .example pre {
  display: block;
  white-space: pre-wrap;
  background-color: #e6e6e6;
  color: #555;
  padding: 16px;
  border-bottom: 3px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.examples .example .result {
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 2rem;
}
.examples .example h3 {
  font-weight: 300;
  color: #f60;
}
